####################################
# Maven
####################################
target/

####################################
# TestNG
####################################
test-output/

####################################
# Allure
####################################
allure-results/
allure-report/

####################################
# Playwright
####################################
playwright-report/
blob-report/

####################################
# Logs
####################################
logs/
*.log

####################################
# Eclipse
####################################
.classpath
.project
.settings/

####################################
# IntelliJ IDEA
####################################
.idea/
*.iml

####################################
# VS Code
####################################
.vscode/

####################################
# OS
####################################
.DS_Store
Thumbs.db   